/*      HEADER      */
.myBodyHead{
    min-height: 7rem;    background-color: var(--darktone_3);    
    display: flex;  flex-flow: row; min-width: calc(115rem + 7rem);
}

/*      HEADER LEFT     */
#headLeft{display: flex; justify-content: flex-start; flex: 1;}
#headLeft .info:nth-of-type(1){
    display: flex;     align-items: center;    justify-content: center;
    padding: 0 1rem 0 10rem;
    width: 16rem;
}
#headLeft .info:nth-of-type(1) img{
    height: var(--origin-pointM);
}
#headLeft .info:nth-of-type(2){
    width: 25rem;
    color: var(--yellow); font-weight: 500; font-size: 3rem;
    display: flex;    align-items: center;    justify-content: flex-start;
    padding: 0 3rem 0 2rem;    white-space: nowrap;
}

/*      HEADER RIGHT     */
#headRight{
    flex: 3; background-color: var(--darktone_4);
    display: flex;    justify-content: space-evenly;
}
#headRight .info:nth-of-type(1){width: 30rem;}
#headRight .info:nth-of-type(2){width: 35rem;}
#headRight .info{
    display: flex;    align-items: center;    justify-content: center;
    flex-flow: row;    padding: 0 1rem; white-space: nowrap;
}
#headRight .info .item:nth-of-type(1){
    background-color: var(--yellow); width: 2rem; height: 0.2rem; margin: 1rem;
}
#headRight .info .item:nth-of-type(2){
    font-size: 1.8rem;    color: var(--darkgrey);
}
 #headRight .info .item:nth-of-type(3){
    padding-left: 1rem;    font-size: 1.8rem;    color: var(--white);
}

/*      MAIN        */
main{ flex: 1; display: flex; flex-flow: row nowrap; width: 100%;}
/*      ASIDE       */
main aside{    
    display: flex;  background-color: #2d2d32;
    min-width: 7rem; flex-flow: column; min-height: 64rem;
}
main aside .info:nth-of-type(1){
    writing-mode: tb-rl;    rotate: 180deg;
    display: flex;  justify-content: center;    align-items: center;
    color: var(--darkgrey);     font-size: 2rem;    white-space: nowrap;    
    margin: 1rem 0; flex: 1;
}
main aside .info:nth-of-type(2){
    align-self: center;    flex-direction: column;    
    background-color: var(--yellow);
    width: 80%;    height: 0.2rem; margin: 0.5em 0;
}
main aside .info:nth-of-type(3){
    display: flex;    flex-flow: column;
    align-items: center;    justify-content: space-between;
    margin: 2rem 0; flex: 1;

}
.info:nth-of-type(3) div{
    border-radius: 20%;      transition: all 1s ease-out;
    display: flex;    margin: 0.2rem; 
}
.info:nth-of-type(3) div a{
    display: flex;  padding: 0.5rem;
    justify-content: center;    align-items: center;    

}
.info:nth-of-type(3) div a img{
    color: var(--darkgreyV2);   width: 4rem;    height: 4rem;
}
.info:nth-of-type(3) div:hover{background-color: var(--darkgreyV2);}

/*      SECTION     */
main section{        
    display: flex;        flex-flow: column;
    background-color: var(--darktone_5);  min-width: 115rem;
    flex: 1;
}
main section article:nth-of-type(1){
    display: flex;      height: var(--origin-point);  
    flex-flow: row nowrap; justify-content: space-around;  align-items: center;
    font-size: 2.2rem;    color: rgba(255, 255, 255);
    background-color: rgba(38, 38, 39, 0.4);
}
main section article:nth-of-type(1) .directive{
    margin: 0.4em;     border-radius: 0.2em;    white-space: nowrap;
}

.noneScrollFrame{
    display: flex; flex: 1;    flex-flow: column;
    color: white; font-size: 3rem;
}
.noneScroll::-webkit-scrollbar{
    display: none; -ms-overflow-style: none; scrollbar-width: none;
}
.noneScroll{
    position: absolute; bottom: 0; top: calc(7rem + 7rem);
    overflow: scroll;
}