/* main section article:nth-of-type(1) .directive:nth-of-type(1){
    color: orange;   transition: all 0.4s ease-out;
}
main section article:nth-of-type(1) .directive:nth-of-type(1):hover{
    color: white;
} */

/* main section{        
    background-color: none;
    background-image: url("/Template/image/mevlana1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */